 .images-store img {
	width: 297px;
	height: 150px;
	display: inline-block;
}

.fliter-button-gp {
	text-align: center;
	margin-bottom: 8px;
}

.fliter-button-gp button {
	padding: 8px 15px;
	cursor: pointer;
	background: chocolate;
    color: #fafafa;
    border-radius: 8px;
}

/*.fliter-button-gp button:hover {
	
}*/